nav.navbar.navbar-inverse
  .container-fluid

    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href='/') USER INFORMATION
        li
          a(href='/search') SEARCH USER
        li
          a(href='/add-user') ADD USER
        li
          button(class="btn-lg btn-info like-button") LIKE THE APP
        form(action="/search" method="GET").navbar-form.navbar-left
          .form-group
            input#searchFor.form-control(name="searchFor" type='text', placeholder='Search')
            button.btn.btn-default(type='submit') Submit


script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
script(src="search.js")
