nav.navbar.navbar-inverse
  .container-fluid

    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href='/') USER INFORMATION
        li
          a(href='/search') SEARCH USER
        li
          a(href='/add-user') ADD USER
