nav.navbar.navbar-default
  .container-fluid

    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href='/') User Information App
        li
          a(href='/search') Search For User
        li
          a(href='/add-user') Add User to App
