nav.navbar.navbar-default {
  letter-spacing: 1px;

}

.navbar-form .form-control {
    display: inline-block;
    width: 250px;
    vertical-align: middle;

}


}
.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    height: 10px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    height: 10px;
}
